/*Links in the page*/
a {
    color: white;
}

/*Arrow in the page*/
.arrow {
    transform: rotate(90deg);
    height: 0.6em;
}

/*Body in the page*/
body {
    background-color: rgb(0, 33, 91);
    box-sizing: border-box;
    color: white;
    font-size: 18px;
    margin: 0;
    max-width: 100vw;
}

/*Sample of code in a page*/
.code_sample {
    background-color: rgb(30, 30, 30);
    border: black solid 3px;
    color: white;
    margin: 2px;
    padding: 5px;
}

/*Footer of the page*/
footer {
    background-color: white;
    color: black;
    padding: 4px;
}

/*Links in the footer of the page*/
footer a {
    color: black;
}

/*Main title of the footer of the page*/
footer h1 {
    font-size: 2em;
    margin: 0;
}


/*The header is the same in each pages*/
header {
    background-color: white;
    color: black;
    display: flex;
    height: 150px;
    width: 100%;
}

/*The navs in the header are the same in each pages*/
header nav {
    /*Header position*/
    height: 100%;
    position: relative;
    /*Children position*/
    display: flex;
    flex: 1;
    justify-content: space-around;
}

/*The as in the navs in the header are the same in each pages*/
header nav div {
    align-content: center;
    font-size: 300%;
    height: 100%;
}

/*Links in the header*/
header nav div a {
    color: black;
}

/*An important thing in a lesson*/
.important {
    color: red;
}

/*A link in an important thing in a lesson*/
.important a {
    color: red;
}

/*Div containing arrows at the left and text at the right*/
.left_arrow_right_text {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/*Div containing the part in a left_arrow_right_text containers*/
.left_arrow_right_text_child {
    display: grid;
    grid-auto-columns: max-content;
}

/*Arrow in a part in a left_arrow_right_text containers*/
.left_arrow_right_text_arrow {
    grid-column: 1;
    grid-row: 2;
    height: 2em;
    max-width: 15vw;
}

/*Text in a part in a left_arrow_right_text containers*/
.left_arrow_right_text_text {
    grid-column: 2;
    grid-row: 2;
    max-width: 85vw;
    width: 100%;
}

/*Title in a part in a left_arrow_right_text containers*/
.left_arrow_right_text_title {
    grid-column: 2;
    grid-row: 1;
    max-width: 85vw;
}

/*Main part of the page*/
#main_div {
    margin: 8px;
}

/*Main title of the main page*/
#main_div h1 {
    font-size: 4em;
}

/*Important titles of the main page*/
#main_div h2 {
    font-size: 2.5em;
}

.voc {
    background-color: rgb(220, 220, 220);
}

/*Style to use the Hammershmit One font*/
.hammersmith-one-regular {
    font-family: "Hammersmith One", sans-serif;
    font-weight: 400;
    font-style: normal;
}

/*Style to use the OpenSans bold font*/
.open-sans-bold {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/*Style to use the OpenSans regular font*/
.open-sans-regular {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}